rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs/{id} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == "Qd9ErsSnBnZzMFitjQsELzeid8T2";
    }
    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid;
    }
    match /submissions/{id} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read: if request.auth != null && resource.data.userId == request.auth.uid;
      allow update, delete: if false;
    }
  }
}
